.headerWrap {
  width: 100vw;
  height: 10vh;
  background-color: #334e58;
  position: fixed;
  top: 0;
  @media (min-width: 1171px) {
    width: 40vw;
  }
}

.flexHeader {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.logoWrap {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1.3%;
}

.logoStyle {
  width: 95%;
  height: 45%;
}

.sideBox {
  width: 20%;
  height: 100%;
  padding-top: 1.3%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.memberWrap {
  display: flex;
  justify-content: center;
}

.MemberStyle {
  width: 45%;
  height: 45%;
}

.hrLine {
  width: 90vw;
  border: 0.5px solid #486f7d;

  @media (min-width: 1171px) {
    width: 35vw;
  }
}
