.navWrap {
  width: 100vw;
  height: 11vh;
  background-color: #2A3A4D;
  position: fixed;
  bottom: 0;
  padding-bottom: 6px;
  @media (min-width: 1171px) {
    width: 40vw;
  }

  border-top: 2px solid #486F7D;
  border-radius : 15px 15px 0px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menuBox {
  width: 19.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}

.menuHomeBox {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}

.navImgStyle {
    width: 33px;
    height: 33px;
}

.homeImgStyle {
    width: 75px;
    height: 75px;
}

.menuBox > div {
  color: white;
  font-size: 12.3px;
  padding-top: 2px
}
