.cardBody{
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  color: #fff;
}

.h2 {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}