.ReservationComponent {
  border: 1px solid #45cb85;
  border-radius: 10px;
  background-color: #5d707f;
  width: 100%;
  margin-bottom: 20px; /* 하단 간격 추가 */
}

.cardHeader{
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid black;
}

.cardBody{
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}