.cardBody {
  width: 100%;
  height: 80px;
  display: flex;
  border-radius: 10px;
  background-color: #5D707F;
  border: 1px solid #45cb85;
  margin-bottom: 15px;
}


.cardBody:hover {
  background-color: #5d707f;
  border: 2px solid #A4DABE;
}

.imgWrap {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%; /* 너비를 100%로 설정하거나 필요한 대로 조절 */
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  padding: 10px;
}

.imgWrap > img {
  height: 100%; /* 이미지 높이를 .imgWrap 높이에 맞춤 */
  margin-right: 20px; /* 이미지와 텍스트 사이의 간격 조절*/
  margin-left: 5px; /* 이미지와 텍스트 사이의 간격 조절*/
  border: 1.5px solid #A4DABE;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  width: 50px;
  height: 50px;
}

/* 상태별 색상 클래스 */
.statusPending {
  color: #FFA500; /* 오렌지색으로 '예약 대기중' 상태를 표시 */
}

.statusInProgress {
  color: yellow; /* 노란색으로 '진행중' 상태를 표시 */
}

.statusCompleted {
  color: #45cb85; /* 선명한 녹색으로 '정비완료' 상태를 표시 */
}

.statusRejected {
  color: #DC3545; /* 빨간색으로 '예약 거절' 상태를 표시 */
}

.statusError {
  color: #6C757D; /* 회색으로 '오류' 상태를 표시 */
}




