.cardBody {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  border-radius: 10px;
  justify-content: space-between;
  background-color: #5D707F;
  border: 1px solid #45cb85;
  margin-bottom: 15px;
  padding: 5px;
}

.cardBody:hover {
  border: 2px solid #A4DABE;
}

.imgWrap img {
  height: 100%; /* 이미지 높이를 .imgWrap 높이에 맞춤 */
  margin-right: 20px; /* 이미지와 텍스트 사이의 간격 조절*/
  margin-left: 5px; /* 이미지와 텍스트 사이의 간격 조절*/
  border: 1.5px solid #A4DABE;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.statusTextWrapper{
  font-size: 14px;
  font-weight: 100;
  color: #fff;

}

.chatpart{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.chatpart button {
margin-bottom: 10px;
}


.chatHistory {
  cursor: pointer;
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
}

/* 상태별 색상 클래스 */
.statusPending {
  color: #FFA500; /* 오렌지색으로 '예약 대기중' 상태를 표시 */
}

.statusInProgress {
  color: yellow; /* 노란색으로 '진행중' 상태를 표시 */
}

.statusCompleted {
  color: #45cb85; /* 선명한 녹색으로 '정비완료' 상태를 표시 */
}

.statusRejected {
  color: #DC3545; /* 빨간색으로 '예약 거절' 상태를 표시 */
}

.statusError {
  color: #6C757D; /* 회색으로 '오류' 상태를 표시 */
}