.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentHeader {
  align-self: flex-start;
}

.customSelect {
  align-self: flex-end;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.img img {
  width: 80%;
}

.mb {
  margin-bottom: 15px;
}
