.headerWrap {
  width: 100%;
  height: 65px;
  background-color: #334e58;
  position: fixed;
  top: 0;
  width: 100%;
}

.flexHeader {
  display: flex;
  flex-direction: row;
}

.sideBox {
  width: 20%;
  height: 65px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logoWrap {
  width: 60%;
  display: flex;
  justify-content: center;
}

.logoStyle {
  width: 95%;
  height: 55px;
}

.MemberStyle {
  padding-top: 15px;
  width: 33px;
  height: 33px;
}

.hrLine {
  width: 340px;
  border: 0.5px solid #486f7d;
}
