.navWrap {
  height: 80px;
  width: 100%;
  background-color: #2A3A4D;
  position: fixed;
  bottom: 0;
  width: 100%;

  border-top: 2px solid #486F7D;
  border-radius : 15px 15px 0px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menuBox {
  width: 20%;
}

.logoStyle {
    width: 70px;
    height: 50px;
}
