.navWrap {
  height: 80px;
  width: 100%;
  background-color: #2A3A4D;
  position: fixed;
  bottom: 0;
  width: 100%;

  border-top: 2px solid #486F7D;
  border-radius : 15px 15px 0px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding-top: 3px;
}

.menuBox {
  width: 19.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}

.menuHomeBox {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navImgStyle {
    width: 35px;
    height: 35px;
}

.homeImgStyle {
    width: 85%;
    height: 85%;
}

.menuBox > div {
  color: white;
  font-size: 12.5px;
  padding-top: 2px
}
