/* ========================================================== */
/* RepairshopComponent css */

.flexCenter {
  display: flex;
  justify-content: center;
}

.RepairshopComponent {
  border: 1px solid #45cb85;
  background-color: #5d707f;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 90%;
}

.RepairshopComponent:hover {
  border: 2px solid #A4DABE;
}

/* ========================================================== */
/* cardHead css */

.cardHead {
  border-bottom: 1px solid #45cb85;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* 정비소 아이콘 */
.carcenterIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-left: 15px;
}

.carcenterIcon img {
  max-width: 100%; /* 이미지가 컨테이너를 벗어나지 않도록 */
  max-height: 100%; /* 이미지가 컨테이너를 벗어나지 않도록 */
}

.carcentername {
  display: flex;
  align-items: center;
}

.Name {
  font-size: 16px; 
  color: #45cb85; 
  margin-left: 8px; 
}

/* 상세보기 */
.chatHistory {
  cursor: pointer;
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
  margin-right: 5%;
}
/* ========================================================== */
/* cardBody css */

.cardBody{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #fff;
  box-sizing: border-box; 
}

.text {
  font-size: 0.8rem;
}