.RepairshopComponent {
  border: 1px solid #45cb85;
  background-color: #5d707f;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  min-width: 90%;
}

.RepairshopComponent:hover {
  border: 2px solid #A4DABE;
}

.cardHead {
  border-bottom: 1px solid #45cb85;
  height: 55px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chatHistory {
  cursor: pointer;
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
}

.carcenterIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-left: 15px;
}

.carcenterIcon > img {
  border: 1.5px solid #A4DABE;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  width: 35px;
  height: 35px;
}

.carcenterName {
  font-size: 1.2rem; 
  color: #45cb85; 
  margin-left: 0px;
}

.cardBody{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #fff;
  box-sizing: border-box; 
}
.cardBody h2,h3{
  margin: auto;
}

.SmallButton{
  padding-top: 20px;
  padding-bottom: 10px;
}
