.sidePanel {
  position: fixed; /* 화면에 고정 */
  top: 0; /* 상단에 정렬 */
  right: 0; /* 오른쪽 가장자리에 정렬 */
  height: 100vh; /* 전체 높이 */
  background-color: #1b263b; /* 배경 색상 */
  z-index: 1000; /* 다른 요소들 위에 표시 */
  transition: transform 0.3s ease-in-out; /* 부드러운 애니메이션 효과 */
  transform: translateX(100%); /* 기본 상태에서는 화면 밖으로 숨겨져 있음 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5); /* 그림자 효과를 강화 */
  padding: 20px; /* 내부 여백 추가 */
  color: #fff; /* 글자 색상 흰색으로 변경 */
}

/* 사이드 패널을 열 때 적용되는 클래스 */
.open {
  transform: translateX(0); /* 화면 안으로 이동 */
}

.selectData {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.selectDataLabel {
  display: flex;
  justify-content: center;
  color: white;
  width: 100px;
  font-size: 15px;
  margin-bottom: 5px;
}

.dataSelectBox {
  height: 30px;
  padding-left: 5px;
}