.wrapper {
  border-bottom: 1px solid #5d707f;
  padding: 10px;
}

.btn {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
}

.title {
  color: #47f6c1;
  font-size: 18px;
}

.image {
  width: 24px;
  height: 24px;
}

.active {
  display: block;
}

.nonActive {
  display: none;
}
