.WriteFormWrap {
  background-color: #334e58;
}

.textWhite {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.textarea {
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  resize: vertical;
}

.selectData {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.selectDataLabel {
  color: white;
  font-size: 20px;
}

.dataSelectBox {
  height: 30px;
  margin-left: 10px;
  padding-left: 5px;
}

.LargeButtonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
