.form {
  display: flex;
  align-items: center;
  background-color: #5d707f;
  border-radius: 8px;
  border: 1px solid #45cb85;
  width: auto;
  padding: 5px;
}

.dateInput {
  background-color: transparent;
  border: none;
  color: white;
  width: 11ch;
  padding: 5px;
  font-size: 11px;
}

.dateInput::placeholder {
  color: #aaa;
  font-size: 11px;
}

/* 선택 시 테두리 없애기 */
.dateInput:focus {
  outline: none;
}

.formBtn {
  background-color: transparent;
  border: none;
}

.icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
