.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  color: #45cb85;
  font-weight: 800;
  margin-right: 10px;
  font-size: 13px;
  margin-bottom: 6px;
}

.calendar {
  margin-top: 10px;
}
