.memberBox {
  width: 90%;
  height: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.imgWrap {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memberImg {
  margin: 10px;
}

.memberInput {
  width: calc(100% - 80px);
  height: 35px;
  border: none;
  padding: 0px 10px;
}

.SmallButtonWrap {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  padding: 0px 20px;
  margin-bottom: 50px;
}

.LargeButtonWrap {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 0px 20px;
  margin: 80px 0px;
}

.signupLinkBox {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: white;
  border-radius: 10px;
}

.signupLink {
  color: #47f6c1;
  text-decoration: none;
  margin: 0px 7px;
}

.tempButton {
  display: flex;
  justify-content: flex-end;
  margin: 20px;

}