.information{
  color: white;
  font-size: 17px;
  padding: 20px 15px;
  line-height: 1.5;
}

.emailBox {
  width: 90%;
  height: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.emailImg {
  width: 22px;
  height: 19px;
  margin: 10px;
}

.emailInput {
  width: calc(100% - 110px);
  height: 35px;
  border: none;
  padding: 0px 10px;
}

.EmailCheckApplyBtn, .nextBtn {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
}

.EmailCheckNumBtn {
  border: none;
  margin: 0px 5px;
  font-size: 14px;
  background-color: white;
  color: #45cb85;
}

.result {
  font-size: 15px;
  color: red;
  margin: 0px 30px 50px 30px;
  display: flex;
  justify-content: center;
}

.EmailCheckApplyBtn {
  margin-bottom: 40px;
}

.nextBtn {
  margin: 30px;
}
