.menu {
  margin-bottom: 25px;
  padding: 0px;
  align-self: flex-start;
}

.emailWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailBox {
  width: 270px;
  height: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.emailImg {
  margin: 10px;
}

.emailInput {
  width: 150px;
  height: 35px;
  border: none;
  padding: 0px 10px;
}

.EmailCheckNumBtn {
  border: none;
  font-size: 11px;
  background-color: white;
}

.result {
  font-size: 11px;
  color: red;
  margin: 0px 30px 50px 30px;
}

.EmailCheckApplyBtn {
  margin-bottom: 40px;
}

.nextBtn {
  margin: 0px 0px;
}
