@keyframes zoomIn {
  0% {
    transform: scale(1) translateY(0) translateX(0);
  }
  100% {
    transform: scale(1.4) translateY(10%) translateX(-10%);
  }
}

.homeWrap {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  margin-top: -6.2vh;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
/* 
  @media (min-height: 700px) {
    margin-top: -2.8vh;
  } */
}

.backgroundWrap{  
  
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 131vw;
  max-width: 740px;
  max-height: 80vh;

  @media (min-width: 1175px) {
    max-width: 39vh;
    max-height: 50vh;
  }

  @media (min-width: 2000px) {
    max-width: 75vh;
    max-height: 78vh;
  }
}

.homeBackground {
  width: 100%;
  height: 100%;
  max-width: 100%; /* 이미지가 화면보다 큰 경우에 대비하여 최대 너비를 100%로 설정 */
  animation: zoomIn 35s forwards; 
}

.textBox {
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(113, 116, 121, 0.5);
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 11.5px;
  color: white;

  @media (min-width: 500px) {
    font-size: 15px;
    width: 400px;
    height: 15vh;
  }

  @media (min-width: 2000px) {
    font-size: 20px;
    width: 580px;
    height: 20vh;
  }
}

.title {
  color: #FFDA47;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 12px;
  
  @media (min-width: 500px) {
    font-size: 19px;
  }

  @media (min-width: 2000px) {
    font-size: 24px;
  }
}

.describe {
  width: 100%;
  margin-bottom: 4px;
}
