.homeWrap {
    margin-top: 2vh;
    color: aquamarine;
}

/* 전체 페이지에 padding20이 들어가있는데, 메인은 꽉채워 보여야하기에 아래처럼 복구 */
#homeWrapId {
    margin-left: -20px;
    margin-right: -20px;
}

.homeBackground {
    width: 100%;
}