/* 정비소 예약관리 컴포넌트css */
.UserListComponent {
  border: 1px solid #45cb85;
  background-color: #5d707f;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px; /* 하단 간격 추가 */
}

.UserListComponent:hover {
  border: 2px solid #A4DABE;
}


.cardHead{
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #45cb85;
  height: 50px;
}

.imgWrap {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: space-between;
  width: 100%; /* 너비를 100%로 설정하거나 필요한 대로 조절 */
  height: 100%; /* 높이를 100%로 설정하거나 필요한 대로 조절 */
  font-size: 1.2rem;
  color: #fff;
  gap: 20px;
}

.imgWrap img {
  height: 100%; /* 이미지 높이를 .imgWrap 높이에 맞춤 */
}

.chatHistory {
  cursor: pointer;
  font-size: 0.6rem;
  text-align: right;
}

/* 상태별 색상 클래스 */
.statusPending {
  color: #FFA500; /* 오렌지색으로 '예약 대기중' 상태를 표시 */
}

.statusInProgress {
  color: yellow; /* 노란색으로 '진행중' 상태를 표시 */
}

.statusCompleted {
  color: #45cb85; /* 선명한 녹색으로 '정비완료' 상태를 표시 */
}

.statusRejected {
  color: #DC3545; /* 빨간색으로 '예약 거절' 상태를 표시 */
}

.statusError {
  color: #6C757D; /* 회색으로 '오류' 상태를 표시 */
}
