.ChatBoxCarcenterWrap {
  width: 75vw;
  min-width: 290px;
  background-color: #5D707F;
  border: 1.4px solid #45CB85;
  border-radius: 2px 20px 20px 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

.ChatBoxUserWrap {
  width: 75vw;
  min-width: 290px;
  background-color: #45CB85;
  border: 2px solid #A4DABE;
  border-radius: 20px 2px 20px 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

.title {
  width: 100%;
  height: 25px;
  color: #47F6C1;
  padding: 13px 15px 0px 15px;
}

.titleCarcenter {
  width: 100%;
  height: 25px;
  color: #47F6C1;
  font-weight: 600;
  padding: 13px 15px 0px 15px;
  letter-spacing: 1px;
}

.titleUser {
  width: 100%;
  height: 25px;
  color: #5D707F;
  font-weight: 600;
  padding: 13px 15px 0px 15px;
  letter-spacing: 1px;
}

.hrLineCarcenter {
  width: 100%;
  border: 1px solid #45CB85;
}

.hrLineUser {
  width: 100%;
  border: 1px solid #A4DABE;
}

.content {
  width: 91%;
  min-height: 50px;
  padding: 8px 15px 17px 15px;
  color: white;
  font-weight: 100;
}

.is_reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.send_dateUser {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-top: 5px;
  font-size: 14px;
  color: #A4DABE;
}

.send_dateCarcenter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-top: 5px;
  font-size: 14px;
  color: #A4DABE;
}