.ChatroomWrap {
  background-color: #334E58;
}

.ChatboxWrap {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.ChatboxSenderWrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.SmallButtonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollToTop {
  position: fixed;
  bottom: 20.5%;
  right: 16px;
  cursor: pointer;
  background-color: rgba(171, 171, 171, 0.6); 
  border-radius: 50%;
  padding: 5px;
}

.scrollToBottom {
  position: fixed;
  bottom: 14%;
  right: 16px;
  cursor: pointer;
  background-color: rgba(171, 171, 171, 0.6); 
  border-radius: 50%;
  padding: 5px;
}
