.btn {
  background-color: #45cb85;
  color: white;
  border: none;
  font-weight: 800;
}

.largeBtn {
  width: 240px;
  height: 45px;
  border-radius: 9px;
  font-size: 17px;
  border: 2px solid #A4DABE;
  letter-spacing: 3px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

.smallBtn {
  min-width: 90px;
  height: 33px;
  border: 1.5px solid #A4DABE;
  border-radius: 8px;
  font-size: 13px;
  letter-spacing: 2px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

.btn2 {
  background-color: whitesmoke;
  color: #45cb85;
  border: none;
  font-weight: 800;
}

.smallBtn2 {
  min-width: 90px;
  height: 33px;
  border: 1.5px solid #A4DABE;
  border-radius: 8px;
  font-size: 13px;
  letter-spacing: 2px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}
