.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentHeader {
  align-self: flex-start;
  margin-bottom: 20px;
}

.toggleWrapper {
  width: 100%;
  margin-bottom: 10px;
}

.resWrapper {
  color: white;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.inputWrapper {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 15px;
  gap: 20px;
  align-items: center;
  width: 230px;
  margin-bottom: 10px;
}

.inputWrapper input {
  border: none;
  width: 11ch;
  font-size: 18px;
}
