.ChatPartnerProfileWrap {
  width: 100vw;
  height: 55px;
  position: fixed;
  top: 10vh;
  margin-left: -2vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;

  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #334E58;
  
  @media (min-width: 1171px) {
    width: 34vw;
  };

}

.ChatPartnerProfileWrap > button {
  width: 40px;
  background-color: transparent;
  border: none;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgWrap {
  width: 48px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: baseline;
}

.imgWrap > img {
  border: 1.5px solid #A4DABE;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  width: 35px;
  height: 35px;
}

.userName {
  color: #47F6C1;
  font-size: 20px;
  padding-bottom: 2px
}
