.memberBox {
  width: 90%;
  height: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.imgWrap {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memberImg {
  margin: 10px;
}

.memberInput {
  width: calc(100% - 80px);
  height: 35px;
  border: none;
  padding: 0px 10px;
}

.LargeButtonWrap {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 0px 20px;
  margin-top: 50px;
}