
spring:
  profiles:
    include: swagger, db
  mail:
    host: smtp.gmail.com
    port: 587
    username: jisun4547@gmail.com
    password: sntavnxwyqtsmvgk
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

