.card {
  background-color: #5d707f;
  border: 2px solid #45cb85;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: transparent;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

.title {
  margin-left: 8px;
  color: white;
  display: flex; 
  justify-content: flex-start;
  font-size: 17px;
  font-weight: 800;
}

.image {
  width: 24px;
  height: 24px;
}

.content {
  background-color: transparent;
  color: white;
  width: 90%;
  border-top: 1px solid #45cb85;
  padding: 15px 10px;
  font-size: 15px;
}

.active {
  display: block;
}

.nonActive {
  display: none;
}
