.chattingWrap {
}

.menuTitle {
  width: 100%;
  height: 50px;
  
  display: flex;
  align-items: center;
  
  color: #47F6C1;
  font-size: 20px;
  margin-bottom: 5px;
}

.searchWrap {
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #45CB85;
  border: 2px solid #A4DABE;
  border-radius: 7px;
  margin-bottom: 24px;
}

.searchImgWrap {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchImg {
  width: 33px;
  height: 33px;
}

.searchInput {
  width: 90%;
  height: 22px;
  background-color: #45CB85;
  border: 0px;
  border-bottom: 1px solid white;
  color: white
}

.ChatMemberBoxWrap > div {
  margin-bottom: 15px;
}
