.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.option {
}

.checked {
  border: 3px solid #45cb85;
;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.image {
}

.text {
  color: white;
}

.radioBtn {
  opacity: 0;
}
