.wrapper {
  width: 230px;
  background-color: #5d707f;
  border: 1px solid #45cb85;
  border-radius: 8px;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tag .mb{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
}

.mb {
  margin-bottom: 5px;
}
