.menu {
  margin-bottom: 25px;
  padding: 0px;
  align-self: flex-start;
}

.passwordEditWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordEditBox {
  width: 270px;
  height: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.passwordEditImg {
  margin: 10px;
}

.passwordEditInput {
  width: 150px;
  height: 35px;
  border: none;
  padding: 0px 10px;
}

.EditCompleteBtn {
  margin-top: 30px;
}


