.menu {
  margin-bottom: 25px;
  padding: 0px;
  align-self: flex-start;
}

.memberWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberBox {
  width: 270px;
  height: 40px;
  margin: 20px;
  display: flex;
  align-content: center;
  background-color: white;
  border-radius: 10px;
}

.memberImg {
  margin: 10px;
}

.memberInput {
  width: 150px;
  height: 35px;
  border: none;
  padding: 0px 10px;
}

.checkIdBtn {
  border: none;
  font-size: 11px;
  background-color: white;
}

.nicknameCheckResult {
  font-size: 11px;
  color: red;
  margin: 0px 30px;
  display: flex;
  justify-content: center;
}

.signupBtn {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
}
