.pageInfo {
  margin: 20px;
}

.memberWrap {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.memberBox {
  width: 90%;
  height: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.imgWrap {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memberImg {
  margin: 10px;
}

.memberInput {
  width: calc(100% - 80px);
  height: 35px;
  border: none;
  padding: 0px 10px;
}

.checkIdBtn {
  border: none;
  font-size: 11px;
  background-color: white;
}

.nicknameCheckResult {
  font-size: 11px;
  color: red;
  margin: 0px 30px;
}

.signupBtn {
  margin: 50px 0px;
}
